<div class="content content-padded text-center">
    <div class="homepage-jumbotron">
        <h2><strong>Aiutaci a rendere<br>i farmaci più sicuri.</strong></h2>
        <br>
        <div>
            {{#link-to 'report.patient' class="btn btn-block"}}Invia segnalazione{{/link-to}}
        </div>
        <br>
        <p class="homepage-desc">Invia una segnalazione di reazione avversa che hai sperimentato di prima persona o di cui sei a conoscenza.
        </p>
    </div>
</div>

<!--L'immagine risulta molto piccola perchè limitata dalle dimensioni della classe .bar, si può intervenire-->
<div class="text-center bar bar-standard bar-footer logo">
    <img src="/assets/logoaifa.gif" alt="logo">
</div>
