<div class="content">Grazie per la tua segnalazione<br>
  {{#link-to 'report.homepage' class="btn btn-link btn-nav pull-left"}}
      <span class="icon icon-left-nav"></span>
      Vuoi Fare un'alta segnalazione?
  {{/link-to}}
</div>
