<div class="content content-padded text-center">



  <h2><strong><center>La segnalazione è stata inviata.</center></strong></h2>
  <br>
  <h2>Il codice identificativo della tua segnalazione è<br>{{model.reports.id}}</h2>

  <div>
    {{submit-button "bottom" this "index" model.reports "Invia una nuova segnalazione"}}
  </div>


</div>

<div class="text-center bar bar-standard bar-footer logo">
    <img src="/assets/logoaifa.gif" alt="logo">
</div>
